In [18]:
import pandas as pd 

from google.colab import drive
drive.mount('/gdrive')
#Change current working directory to gdrive
%cd /gdrive

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive

In [65]:
#Read files
datafile = r'/gdrive/My Drive/Data Projects/Marketing Analytics/Lesson 2/newspaper_prices.xlsx'
prices = pd.read_excel(datafile).set_index('Day') #creates a dataframe
prices.head(8)

           Paris Cost  Paris Views  ...  Rio Cost  Rio Views
Day                                 ...
Monday             50        20000  ...        50      10000
Tuesday            50        15000  ...        50      20000
Wednesday          50        23000  ...        50      20000
Thursday           50        20000  ...        50      14000
Friday             75        19000  ...        75      23000
Saturday          100        30000  ...       100      22000
Sunday            100        40000  ...       100      25000

[7 rows x 6 columns]

**Total ad rates per city across all days**

In [66]:
prices.sum()

Paris Cost          475
Paris Views      167000
Quebec Cost        1400
Quebec Views    1915000
Rio Cost            475
Rio Views        134000
dtype: int64

Quebec has the highest overall number of views, but is also the most expensive.

**Cost of displaying ads on every day of the week in all three cities**

In [74]:
prices[['Paris Cost', 'Quebec Cost', 'Rio Cost']].sum(axis=1)

Day
Monday       250
Tuesday      250
Wednesday    250
Thursday     250
Friday       350
Saturday     500
Sunday       500
dtype: int64

**Mean ad prices for each day across all cities**

In [67]:
prices[['Paris Cost', 'Quebec Cost', 'Rio Cost']].mean(axis=1)

Day
Monday       83.33
Tuesday      83.33
Wednesday    83.33
Thursday     83.33
Friday      116.67
Saturday    166.67
Sunday      166.67
dtype: float64

Can conclude that the mean cost of an ad across all cities is the highest on Friday, Saturday, and Sunday.