In [ ]:
import pandas as pd
import math

from google.colab import drive
drive.mount('/gdrive')
#Change current working directory to gdrive
%cd /gdrive

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive

In [ ]:
#Read files
datafile = r'/gdrive/My Drive/Data Projects/Marketing Analytics/Lesson 3/customer_interactions.csv'
df = pd.read_csv(datafile) #creates a dataframe
df.head()

   spend  interactions
0   5818            23
1   6255            15
2   6139            15
3   6070            19
4   4837            24

Calculate the Euclidean distance between the first two data points in the DataFrame

In [ ]:
#euclidean distance
math.sqrt((df.loc[0, 'spend'] - df.loc[1, 'spend'])**2 + (df.loc[0, 'interactions'] - df.loc[1, 'interactions'])**2)

437.0732204104937

Calculate the standardized values of the variables and store them in new columns

In [ ]:
df['z_spend'] = (df['spend'] - df['spend'].mean())/df['spend'].std()
df['z_interactions'] = (df['interactions'] - df['interactions'].mean())/df['interactions'].std()
df.head()

   spend  interactions  z_spend  z_interactions
0   5818            23      0.9             0.6
1   6255            15      1.1            -0.8
2   6139            15      1.1            -0.8
3   6070            19      1.1            -0.1
4   4837            24      0.4             0.8

Calculate the distance between the first two data points using the standardized values

In [ ]:
#euclidean distance
math.sqrt((df.loc[0, 'z_spend'] - df.loc[1, 'z_spend'])**2 + (df.loc[0, 'z_interactions'] - df.loc[1, 'z_interactions'])**2)

1.4739295890009316